*{
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
	/* list-style: none; */
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}

body{
    background-color: #DCE1E8;
}

.header_menu {
    background-color: #2782E1;
    height: 180px;
}

.header_article {
    margin-top: 40px;
    margin-left: 45px;
    position: absolute;
}

.article {
    color: #FFFFFF;
    font-size: 60px;
}

.header_review {
    margin-top: 60px;
    margin-left: 965px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
}

.leave_review {
    margin-left: 43px;
}

.main {
    margin-top: 92px;
    margin-left: 205px;
    margin-right: 205px;
}

.article_title {
    text-align: center;
}

.title {
    font-size: 48px;
}

.content_article {
    background-color: #DBEDF4B2;
    width: 570px;
    height: 355px;
    border: 3px solid #2782E1;
    margin-top: 55px;
}

.list_cont {
    margin-left: 30px;
    line-height: 20px;
}

ul:first-child {
    margin-top: 33px;
}

.cont_title {
    color: #2782E1;
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 12px;
}

.title_text {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

.parag_title {
    font-size: 36px;
    margin-top: 43px;
}

.parag {
    font-size: 24px;
    text-align: justify;
    margin-top: 30px;
}

.created_date {
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: right;
    margin-top: 50px;
}

.footer {
    background-color: #2782E1;
    margin-top: 95px;
    height: 341px;
}

.create_author {
    font-size: 48px;
    font-weight: 700;
    margin-top: 99px;
    margin-left: 45px;
    position: absolute;
    color: #FFFFFF;
    line-height: 71px;
}

.contact_sect {
    margin-top: 126px;
    margin-left: 410px;
    position: absolute;
    color: #FFFFFF;
}

.contact_det {
    font-weight: 500;
    font-size: 32px;
}

.contact {
    margin-top: 20px;
}

.email {
    font-weight: 500;
    font-size: 32px;
    margin-right: 80.36px;
}